@import "./reset";
@import "./ready";
@import "./AT";
@import "./character";
@import "./sidebar";

.App {
	font-family: "Darker Grotesque", sans-serif;
	font-size: 2rem;
	display: flex;
	width: 100vw;
	padding: 1rem;
	box-sizing: border-box;
	background: linear-gradient(rgb(255, 255, 136), rgb(255, 159, 159));
	height: 100vh;
}

h3 {
	text-align: center;
}

.main {
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}


.center {
	text-align: center;
	background-color: white;
	width: 40%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cred {
	position: absolute;
	bottom: 1rem;
	font-size: 0.75rem;
}