@import "./reset";
@import "./AT";
@import "./character";

.App {
	display: flex;
	width: 100vw;
    padding: 2rem;
	box-sizing: border-box;
	background: linear-gradient(rgb(255, 255, 136), rgb(255, 159, 159));
	height: 100vh;
}

.sidebar {
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
}

.ready {
	width: 80vw;
}