@import "./reset";
@import "./ready";
@import "./AT";
@import "./character";
@import "./sidebar";
@import "./congrats";

.App {
	font-family: "Darker Grotesque", sans-serif;
	font-size: 2rem;
	display: flex;
	width: 100vw;
	padding: 1rem;
	box-sizing: border-box;
	background: linear-gradient(rgb(255, 255, 136), rgb(255, 159, 159));
	height: 100vh;
}

@media (max-width: 767px) {
	.App::before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: white;
		z-index: 3;
		display: flex;
		justify-content: center;
		align-items: center;
		content: "A phone is too small for this game lol";
	}
}


h3 {
	text-align: center;
}


.main {
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

@media (max-width: 1023px) {
	.App {
		flex-direction: column;
		align-items: center;
	}

	.main {
		width: 100%;
	}
}


.center {
	text-align: center;
	background-color: white;
	width: 40%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.cred {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	font-size: 0.75rem;
}

@media (max-width: 1023px) {
	.cred {
		width: 9rem;
	}
}

.hide {
	visibility: hidden;
}

.fade {
	opacity: 1;
	animation: fade 1s;
	animation-timing-function: ease;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}